# Add some requirmenets needed for the helm chart to function
-c constraints.txt
apache-airflow[celery, postgres, redis, cncf.kubernetes, sentry, amazon, fab]==3.1.8
apache-airflow-providers-fab
flask-appbuilder
flask-session
Authlib
git+https://github.com/cern-sis/airflow-elasticsearch-provider
