name: Deploy prod
description: Adds dags to current dev image and deploys to production

on:
  workflow_dispatch:
    inputs:
      image-tag:
        description: The image tag to use
        type: string
        required: false
        default: main

jobs:
  build-and-push:
    uses: ./.github/workflows/build-and-push.yml
    with:
      ref: ${{ github.ref }}
      image: cern-sis/scoap3/workflows-prod
      dockerfile: base-images/airflow/Dockerfile-prod
      build-args: |
        BASE_IMAGE_TAG=${{ inputs.image-tag }}
    secrets: inherit

  deploy:
    needs: build-and-push
    runs-on: ubuntu-latest
    steps:
      - name: send event
        uses: cern-sis/gh-workflows/.github/actions/kubernetes-project-new-images@v6.3.1
        with:
          event-type: update
          repo: cern-sis/kubernetes-airflow
          images: |
            cern-sis/scoap3/workflows-prod@${{ needs.build-and-push.outputs.image-id }}
          token: ${{ secrets.PAT_FIRE_EVENTS_ON_CERN_SIS_KUBERNETES }}
